<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<GUI>
  <GuiElement type="image" template="gcSettingsBackground">    
    <GuiElement type="image" template="gcSettingsHeader">
      <GuiElement type="text" template="gcSettingsHeaderText" text="$l10n_GC_settings_header" />
    </GuiElement>   
    
    <GuiElement type="flowLayout" template="gcSettingsContentLayoutLeft">        
        
        <!-- Setting: extendedPlaceable -->
        <GuiElement type="flowLayout" template="gcSettingsButtonLayout">         
          <GuiElement type="image" template="gcSettingsButtonLayoutBackground">    
            <GuiElement type="button" template="gcSettingsButtonLayoutButton" id="gui_btn_settings_1" onClick="onClickBtnSetting" parameter="extendedPlaceable"  />
          </GuiElement>
          <GuiElement type="text" template="gcSettingsButtonText" text="$l10n_GC_settings1_title" />    
        </GuiElement>
        
        <!-- Setting: objectInfo -->
        <GuiElement type="flowLayout" template="gcSettingsButtonLayout">         
          <GuiElement type="image" template="gcSettingsButtonLayoutBackground">    
            <GuiElement type="button" template="gcSettingsButtonLayoutButton" id="gui_btn_settings_2" onClick="onClickBtnSetting" parameter="objectInfo" />
          </GuiElement>
          <GuiElement type="text" template="gcSettingsButtonText" text="$l10n_GC_settings2_title" />    
        </GuiElement>

        <!-- Setting: horseHelper -->
        <GuiElement type="flowLayout" template="gcSettingsButtonLayout">         
          <GuiElement type="image" template="gcSettingsButtonLayoutBackground">    
            <GuiElement type="button" template="gcSettingsButtonLayoutButton" id="gui_btn_settings_3" onClick="onClickBtnSetting" parameter="horseHelper" />
          </GuiElement>
          <GuiElement type="text" template="gcSettingsButtonText" text="$l10n_GC_settings3_title" />    
        </GuiElement>

        <!-- Setting: moreTrees -->
        <GuiElement type="flowLayout" template="gcSettingsButtonLayout">         
          <GuiElement type="image" template="gcSettingsButtonLayoutBackground">    
            <GuiElement type="button" template="gcSettingsButtonLayoutButton" id="gui_btn_settings_4" onClick="onClickBtnSetting" parameter="moreTrees" />
          </GuiElement>
          <GuiElement type="text" template="gcSettingsButtonText" text="$l10n_GC_settings4_title" />    
        </GuiElement>
        
        
        


    </GuiElement>

    <GuiElement type="flowLayout" template="gcSettingsContentLayoutRight">        
        
        

    </GuiElement>

  </GuiElement>
</GUI>



